.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
}
.link {
  background-color: rgb(67, 8, 177);
  color: rgb(67, 8, 177);
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
  background-color: rgb(67, 8, 177);
  color: rgb(67, 8, 177);
}
